*{
margin:0;
padding:0;
font-family: sans-serif;
}
.banner{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(back.jpg);
    background-size: cover;
    background-position: center;
}

#sidenav{
    width:250px;
    height:100vh;
    position:fixed;
    right:-250px;
    top:0;
    background:#009688;
    z-index: 2;
    transition:0.5s;
}
nav ul li{
    list-style: none;
    margin:50px 20px;
}
nav ul li a{
    text-decoration: none;
    color:#fff;
}
#menuBtn{
    width:50px;
    height:50px;
    background:#009688;
    text-align: center;
    position:fixed;
    right:30px;
    top:20px;
    border-radius: 3px;
    z-index: 3;
    cursor:pointer;
}
#menuBtn img{
    width: 20px;
    margin-top: 15px;
}
.logo{
    width:120px;
    cursor: pointer;
    background-color: blue;
}
.navbar ul li{
    list-style:none;
    display:inline-block;
    margin:0 20px;
    position:relative;
}
.navbar ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;

}
.navbar ul li::after{
    content:'';
    height:3px;
    width:0;
    background:#009688;
    position:absolute;
    left:0;
    bottom:-10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content {
    width:100%;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    text-align: center;
    color:#fff;
}
.content h1{
    font-size:70px;
    margin-top:25px;
}
.content p{
    margin:20px auto;
    font-weight: 100;
    line-height:25px;
}

button{
width:200px;
padding:15px 0;
text-align: center;
margin:20px 10px;
border-radius: 25px;
font-weight: bold;
border:2px solid #009688;
background: transparent;
color:#fff;
cursor: pointer;
position:relative;
overflow:hidden;
}
span{
    background:#009688;
    height:100%;
    width:0;
    border-radius: 25px;
    position:absolute;
    left:0;
    bottom:0;
    z-index:-1;
    transition:0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border:none;
}
*{
    margin:0;
    padding:0;

}

.container{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(bb.jpg);
    background-position: center;
    background-size: cover;
    position:relative;
}


        

    
.form-box{
    width:90%;
    max-width: 400px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background:#fff;
    padding:50px 60px 70px;
    text-align: center;


}
               .form-box h1{
                font-size: 30px;
                margin-bottom: 60px;
                color:#3c00a0;
                position:relative;

               }
               .form-box h1::after{
                content: '';
                width:30px;
                height:4px;
                border-radius: 3px;
                background:#3c00a0;
                position:absolute;
                bottom:-12px;
                left:50px;
transform: translateX(480%);

               }
               .input-f{
                background: #eaeaea;
                margin:15px 0;
                border-radius: 3px;
                display:flex;
                align-items: center;;
                max-height: 65px;
                transition: max-height 0.5s;
                overflow:hidden;

               }
               input{
                width:100%;
                background: transparent;
                border:0;
                outline: 0;
            padding:18px 15px;
               }
               .input-f i{
                margin-left: 15px;
                font-size: 13px;
               }

              
form p a{
    text-decoration: none;
    color:#3c00a0;
    
}
.btn-f{
    width:100%;
    display:flex;
    justify-content: space-between;

}
.btn-f button{
    flex-basis: 48%;
    background: #3c00a0;
    color:#fff;
    height:40px;
    border-radius: 20px;
    border:0;
    outline:0;
    cursor:pointer;
    transition: background 1s;

}
.input-g{
    height:220px;

}



          .btn-f button.dis{
            background:#eaeaea;
            color:#555;


          }   
          
          